:root {
    /* --bs-body-font-family :  'Poppins', sans-serif; */
    --fwbold : 700;
    --fwregular : 400;
    --fwmedium : 500;
    --fwsemibold : 600;
    --green : rgb(155, 207, 83);
    --green1 : rgb(120, 197, 43);
    --green2 :rgb(38, 100, 40);
    --lightgreen : rgb(255, 253, 232);
    --black: #1C211C;
    --grey : #8C8C8C;
    --white : #FFFFFF;
    --white2 : #FAFBFC;
    --light-blue : #49C8FF;


}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */

}
body{
    font-family: 'Poppins', sans-serif !important;
    color: var(--green2) !important;
    background-color: var(--lightgreen) !important;
} 

.navbar-brand img{
    margin-right: 10px;
}

.navbar-nav .nav-item .btn-info{
    font-size: 14px;
    background: var(--green2);
    color: var(--white);
}
.navbar-nav .nav-item .btn-info:hover{
    background: var(--green);
    color: var(--green2);
}

.navbar-nav .nav-item .btn-secondary:hover{
    background: var(--green2);
    color: var(--green);
}

.navbar-nav .nav-item .btn-secondary{
    font-size: 14px;
    background: var(--green1);
    color: var(--white);
    border: 0;
}

.btn-info{
    background: var(--green2);
    color: var(--white);
    border: 0;
}
.btn-info:hover{
    background: var(--green);
    color: var(--green2);
}

/* .bg-body-tertiary{
    background-color: var(--black) !important;
} */


.navbar-nav .nav-item .nav-link{
    color:var(--green2);
}

.navbar-nav .nav-item a:hover{
    /* color: #cecece; */
    text-shadow: 1px 1px 3px var(--green);
    font-weight: var(--fwsemibold) !important;
    transition: all 0.3 ease;
}

.navbar-toggler{
    color: rgb(255 255 255 / 30%);
    background-color: rgb(255 255 255 / 60%);
}



/*  */

/* .acuan-bg{
    width: 99vw;
    height:95vh;
    
} */
/* .banner{
    background-image: url(/Asset/image/IMG_20231218_082309_204.jpg);
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 634px; 
} */

footer{
    width: auto;
    height: 15%;
    background-color: #C9AA5D;
    box-sizing: border-box;
    padding: 40px 88px;
    margin-top: 80px;
}

.card-efek:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

@media screen and (max-width:1000px) {
    footer{
        height: auto;
        background-color: var(--black);
    }
    footer .w-25{
        width: 50% !important;
    }
    .navbar-nav .nav-item .btn-info{
        font-size: 14px;
        background: var(--green2);
        color: var(--white);
        border: 0;
    }
    .navbar-nav .nav-item .btn-secondary{
        font-size: 14px;
        background: var(--green1);
        color: var(--white);
        border: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:770px) {
    footer .w-25{
        width: 70% !important;
    }
}
@media screen and (max-width:500px) {
    footer .w-25{
        width: 100% !important;
    }
}